# CMake 
# Build results
[Bb]uild/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.exe
.chache
.cache

# Add this line
out/

# Python 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Primer
*.txt
